@font-face {
    font-family: b52;
    src: url('../fonts/b52.eot') format('eot'),
        url('../fonts/b52.otf') format('opentype');
}

:root {
    font-size: calc(1vw + 1vh + .5vmin);
  }
  body {
    font: 0.7em/1.6 "Open Sans", sans-serif;
  }

.no-gutter {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/* HEADER */

.site-info-block a{
    color:#fff;
}

.header .top-bar {
	background-color: #7a6652;
}
.navbar{
	margin-bottom: initial;
    border-bottom: 6px solid #494c58;
    border-radius: 0;
}

.nav-top > li > a {
	color: #494C58;
	font-weight: 600;
    line-height: 63px;
    font-size: 1.5em;
    font-family: 'b52', 'Arial', sans-serif;
}

.nav > li > a:focus, .nav > li > a:hover {
	background-color: #494C58;
	background: -webkit-linear-gradient(#5c5e6810, #494c5880); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#5c5e6810, #494c5880); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#5c5e6810, #494c5880); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#5c5e6810, #494c5880); /* Standard syntax */
	color:rgb(158, 167, 189);
}

.header .top-bar .site-info {
    text-align: right;
    color: #fff;
	width: 60%;
	margin-top:0.5rem; 
}

.header .top-bar .site-info span {
	line-height: 2em;
}

.navbar-right {
	margin-right: 20px;
	margin-top: 55px;
}

.header .header-logo {
    max-width: 300px;
    text-align: center;
    margin: 10px 0 10px 83px;
    display: inline-block;
}

/* SLIDER*/



#slider-section, .jumbotron {
   /* height: 400px;*/
    border-bottom: 4px solid #494c58;
}

.block-for-slider {
    width: 100%;
    margin: 0 auto;
	margin-top: 110px;
}

#viewport {

    width: 100%;
    position: relative;
    overflow: hidden;
    max-height:450px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
    top:-7.9em;

}

#slidewrapper {
    position: relative;
    width: calc(100% * 4);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    transition-timing-function: cubic-bezier(.67,.01,.23,1);
}

#slidewrapper, #slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}

.slide {
    width: calc(100%);
    list-style: none;
    display: inline;
    float: left;
    position:relative;
}
.item img{
  width:100%;
  height:100%;
}


.container {
    width: 100%;
    padding:0;
}

/*WRITE MAX HEIGHT FOR SLIDER*/
.item{
   width:100%;
   overflow:hidden;
   max-height:396px;
}


.slide-img {
    width: 100%;
    position:relative;
}

#prev-btn, #next-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    top: calc(50% - 25px);
}

#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
}

#prev-btn {
    left: 20px;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 2.8em;
    background-color: rgba(0, 0, 0, 0.7);
    line-height: 1.1;
    z-index: 12;

}

#next-btn {
    right: 20px;
    color:white;
    width:50px;
    height:50px;
    font-size:2.8em;
    background-color:rgba(0,0,0,0.6);
    line-height:1.1;
    z-index:2;
}

#nav-btns {
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slide-nav-btn {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    margin: 3px;
}

.slide-nav-btn:hover {
    cursor: pointer;
}






/*TEXT_ON_SLIDER*/


.info-slider {
   width:30em;
  
   background-color:rgba(0,0,0, 0.6);
   border:solid white 2px;
   position: absolute;
   padding:10px;
   /*padding-right:20px;*/
   top:20px;
   left:200px;
   z-index:11;
   color:white;
   text-align:left;
   font-size: 3vh;
}

.info-slider p:first-child{
    font-size: 2em;
    font-weight: 700;
}



/*BOTTOM SLIDER ON IMG*/

.info-slider button{
	margin-top:5px;
	margin-left:30px;
	border:solid white 2px;
    text-decoration: none;
    border-radius:2px;
    font-size:1.1em;
    font-weight:bold;
  
}

.info-slider button:hover{
  box-shadow:4px 4px 6px black;

}

/* END HEADER */

/* services */

.thumbnail img {
    max-height: 200px ;
}

/* end services */

/* corusel */
#cervices-section {
    min-height: 150px;
    padding-top: 30px;
}
#corusel-section {
	height: 85px;
}
#menu-carousel {
  overflow: hidden;
  width: 100%;
}
#menu-carousel>div {
  margin: 25px 0 0 0;
}
/* end corusel */

/*footer*/
#footer{
	border-top: 4px solid #494c58;
	background: #7a6652;
	min-height: 200px;
    padding: 20px 0 0;
}

#footer .footer-top .footer-heading{	
	color: #fff;
	text-transform: uppercase;
	padding: 0;
	margin: 0 0 20px;
	position: absolute;
	left: 39px;
}
#footer .footer-top {
	background: url(../img/un-map.png) 0 0 no-repeat;
}
.h5-divider {
	background: #d82f26;
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 40px;
	height: 2px;
}

#footer .footer-wrk-hours, .footer-top ul li a {
	color: #fff;
}
#footer .footer-top ul li {
	list-style: none;
	margin-bottom: 10px;
	color: #fff;
}
#footer .footer-top ul.footer-service-list-menu {
	width: 50%;
	float: left;
}

.contact-info-menu i{
	margin-right: 5px;
}

#footer .footer-top .social-media {
	display: block;
	margin-left: 40px;
}

.social-media a {
    display: inline-block;
    float: left;
    margin-right: 0.5em;
    font-size: 2em;
	color: #fff;
}

#footer ul {
    margin-top: 30px;
}

/*end footer*/

/* contacts.html*/

.contacts-wrapper {
    max-width: 1024px;
    width: 100%;
    min-height: 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 2% 2% 4%;
}
.contacts-wrapper h2 {
    font-size: 16px;
    width: 100%;
    text-transform: uppercase;
}
.google-map-route {
    width: 58%;
    height: 100%;
    border: 1px solid #ccc;
    box-shadow: 3px 2px 4px #ccc;
}
.contacts-table {
    width: 38%;
    color: #777;
} 
.contacts-table table {
    width: 100%;
}
.contacts-table a {
    text-decoration: none;
    color: #777;
    text-shadow: 2px 2px 2px #ccc;
}

.contacts-feedback {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.contacts-feedback input {
    margin: 1% 0;
    text-align: center;
    outline: none;
    border-radius: 4px;
    box-sizing: content-box;
    box-shadow: 1px 1px 2px #ccc;
}
.contacts-feedback input:nth-child(7n) {
    height: 60px;
}
.contacts-feedback label {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: -1%;
    font-size: 12px;
}
.contacts-adress {
    text-align: center;
}
::-webkit-input-placeholder {
    text-align: center;
}
input:focus::-webkit-input-placeholder { 
    color:transparent; 
}
.contacts-date-form {
    text-align: center;
}

@media (max-width: 768px) {
    .google-map-route {
        width: 90%;
        order: 2;
        margin: 4% auto 2%;
    }
    .contacts-table {
        width: 90%;
        order: 0;
        margin: 0 auto;
    }
    .contacts-table table {
        width: 100%;
        border-spacing: 10px;
    }
    .contacts-table td:first-child {
        text-align: right;
        width: 50%;
    }
    
    .contacts-wrapper h2 {
        text-align: center;
    }
    .contacts-feedback {
        width: 60%;
        margin: 0 auto;
        text-align: center;
    }
}

/* end contacts.html*/

/* feedback */
/*MODAL WINDOW*/
#myDIV {
    width: 50%;
    position:absolute;
    top:10em;
    text-align: center;
    z-index: 1000;
   
}

input, select, textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type-date]{

   width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    width:15%;
    
}

input[type=submit]:hover {
    background-color: #45a049;
}

.feedback-form label, .feedback-form input {
  margin: 1% 0 0;
  padding: 1%;
}

form{
 width:100%;
}
.feedback-form label, input, textarea, select{
  width:100%;
}
input[type=submit]{
  width:9em;
}



/*FIXED PULSE  BUTTON*/
.pulse-button {
  position: fixed;
  top: 79%;
  right: .5%;
  width: 4.5em;
  height: 4.5em;
  font-size: 1.5em;
  font-weight: bold;
  padding: .5%;
  white-space: normal;
  color: white;
  text-shadow: 0 1px 0 #1f4c76;
  border: 1px solid #3480c7;
  box-shadow: 0 0 0 0 rgba(90, 153, 220, 0.7), inset 0 1px 0 #abcbe9;
  border-radius: 6px;
  vertical-align: middle;
  background: #5a99d4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6ea6d9), color-stop(100%, #468ccf));
  background-image: -webkit-linear-gradient(#6ea6d9, #468ccf);
  background-image: -moz-linear-gradient(#6ea6d9, #468ccf);
  background-image: -o-linear-gradient(#6ea6d9, #468ccf);
  background-image: linear-gradient(#6ea6d9, #468ccf);
  cursor: pointer;
  -webkit-animation: pulse 2s infinite cubic-bezier(0.6, 0, 0, 1);
  z-index: 90;
}
.pulse-button:hover {
  -webkit-animation: none;
}

@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(90, 153, 220, 0), inset 0 1px 0 #abcbe9;
  }
}

